.postlist_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.postlist {
  width: 40%;
}
.postitem_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.postitem_request {
  display: flex;
  align-items: center;
}
.postitem_request img {
  padding: 3px;
  margin: 5px;
  width: 45px;
  border-radius: 50%;
}
.postitem_request span {
  padding: 10px;
  font-weight: 600;
  margin: 0;
}
.postitem_addbutton {
  display: flex;
  justify-content: space-between;
}
.postitem_addbutton button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: gray;
  font-size: 14px;
  cursor: pointer;
}
.postitem_addbutton img {
  width: 45px;
  cursor: pointer;
  padding: 0px 10px;
  object-fit: contain;
}
.postitem_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postitem_image_container img {
  margin: 5px 0px;
}
.selectFile {
  padding: 5px;
}
.selectFile img {
  width: 80%;
  object-fit: contain;
}
.postitem_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: none;
}
.postitem_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.postitem_text {
  display: flex;
  justify-content: space-between;
}
.postitem_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.postitem_description h5,
p {
  color: white !important;
}
.postitem_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postitem_actions button {
  padding: 10px 15px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: white !important;
}
.postitem_actions span {
  margin: 10px 0 0 0 !important;
}

.postitem_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.postitem_info img {
  width: 75%;
  object-fit: contain;
  cursor: pointer;
  padding: 20px 25px;
}
.postitem_request {
  display: flex;
  align-items: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 30px;
  width: 32%;
}
.modal-content h5 {
  color: white;
  padding: 5px;
}
.modal-actions {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.modal-actions input {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  padding: 5px;
}
.modal-actions input:focus {
  outline: none;
  border: none;
}
.modal-addbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal-addbutton button {
  padding: 10px 20px;
  border: none;
  background: gray;
  border-radius: 30px;
  cursor: pointer;
}
.dropdown-menu2 {
  position: absolute;
  right: 490px !important;
  top: 250px !important;
  background-color: #1a1a1a;
  border-radius: 10px;
}
.dropdown-menu2 li {
  width: 200px;
  list-style-type: none;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.dropdown-menu2 hr {
  margin: 0 !important;
}
.fixed-button {
  color: white;
  border: none;
  background-color: #1a1a1a;
  padding: 15px 35px;
  border-radius: 30px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 1000;
  cursor: pointer;
}

.hash-dropdown {
  display: flex;
  justify-content: flex-start;
}
.categories-modal {
  position: fixed;
  bottom: 110px;
  left: 54px;
  z-index: 1000;
}
.categories {
  background-color: #1a1a1a;
  border-radius: 15px;
}
.category-button {
  width: 150px;
  list-style-type: none;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}
.categories hr {
  margin: 0 !important;
}
.postitem_buttons {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 15px;
}
.postitem_buttons div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.postitem_buttons p {
  margin: 0 !important;
}
.postitem_buttons img {
  width: 35px;
  padding: 5px;
  cursor: pointer;
}
.categories-dropdown span {
  cursor: pointer;
  color: white;
}
