.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 70%;
  margin-top: 40px;
}

.user-info {
  flex-grow: 1;
}

.follow-button,
.unfollow-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 90%;
  margin-right: 10px;
}

.follow-button {
  background-color: #000000;
  color: white;
}

.unfollow-button {
  background-color: #070229;
  color: white;
}

.insta-icon {
  margin-left: 480px;
}

.username,
.bio,
p {
  margin-right: 90%;
  margin-right: 100;
}
