.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  background-color: rgb(12, 12, 12);
  border-radius: 25px;
  width: 500px;
}

.search-icon {
  padding: 15px;
}
.search-icon img {
  width: 25px;
}
.search-input {
  border: none;
  background: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 16px;
  padding: 20px;
}

.search-button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8px;
}
