.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: rgb(15, 15, 15);
}

.nav-bar img {
  width: 30px;
}

.nav-links {
  display: flex;
}

.link,
.logo,
.burger-menu {
  padding: 15px 35px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.link:hover {
  background-color: #1a1a1a;
}

.link img.menu-icon {
  width: 24px;
  height: 24px;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.8s ease;
}
.dropdown-menu {
  position: absolute;
  right: 180px !important;
  top: 65px !important;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.dropdown-menu li {
  list-style-type: none;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.dropdown-menu hr {
  margin: 0 !important;
}
.categories-dropdown span {
  cursor: pointer;
  color: white;
}
.modal3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal3 h4 {
  color: white !important;
  margin: 10px;
}
.modal-content3 {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 30px;
  width: 430px;
}

.modal-content3 h5 {
  color: white;
  padding: 5px;
}
.modal-actions3 {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.modal-actions3 textarea {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 0px 10px 100px;
  overflow: hidden;
  resize: none;
}
.modal-actions3 textarea:focus {
  outline: none;
  border: none;
}
.modal-addbutton3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.modal-addbutton3 button {
  padding: 10px 20px;
  border: 1px solid gray;
  color: white;
  background: none;
  border-radius: 30px;
  cursor: pointer;
}
.modal4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
.modal4 h4 {
  color: white !important;
  margin: 10px;
}
.modal-content4 {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 30px;
  width: 430px;
}

.modal-actions4 {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.modal-addbutton4 {
  display: flex;
  flex-direction: column;
}
.modal-addbutton4 button {
  padding: 10px 20px;
  border: 1px solid gray;
  color: white;
  background: none;
  border-radius: 30px;
  cursor: pointer;
}
