* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-image: url('../src/img/swoop-05.svg'), linear-gradient(to bottom, #3498db, #ffffff);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

