.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.theme-buttons {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.theme-buttons button {
  border-radius: 0 !important;
  padding: 5px 30px;
}
